.sidebar-container {
  width: 265px;
  scrollbar-width: none;
  background: linear-gradient(to right, #0f2b85, #3f0a74, #720f7e) !important;  
  height: 90vh;
  overflow-y: auto;
  transition: width 0.3s ease;
  margin-top: 85px;
  z-index: 1;
  position: fixed;
  font-size: 1px;
}

.sidebar-container.collapsed {
  width: 80px;
}

@media (min-width: 320px) and (max-width: 365px) {
  .sidebar-container.collapsed {
    width: 0px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .sidebar-container.collapsed {
    width: 0px;
  }
}

.sidebar {
  padding: 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 15px;
}

/* आइकन के लिए निश्चित चौड़ाई और संरेखण */
.menu-link i {
  width: 24px; /* आइकन के लिए निश्चित चौड़ाई */
  text-align: center;
  margin-right: 8px;
  transition: margin 0.3s ease;
}

.menu-text {
  margin-left: 10px;
  font-size: 15px;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* साइडबार कोलैप्स होने पर टेक्स्ट छिपाएं */
.sidebar-container.collapsed .menu-text {
  opacity: 0;
  visibility: hidden;
  width: 0;
  margin-left: 0;
}

/* साइडबार कोलैप्स होने पर आइकन को केंद्रित करें */
.sidebar-container.collapsed .menu-link {
  justify-content: center;
  padding: 10px 0;
}

.sidebar-container.collapsed .menu-link i {
  margin-right: 0;
  /* आइकन की स्थिति को स्थिर रखने के लिए */
  position: relative;
  left: 0;
  transform: none;
}

.submenu {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.collapsed {
  max-height: 0;
  visibility: hidden;
}

.submenu.expanded {
  max-height: 410px;
  visibility: visible;
  font-size: 15px;
  background-color: #fff9f1;
  font-weight: 700;
  padding-left: 10px;
}

.submenu-item i {
  padding: 0 5px;
  font-size: 15px;
}

.submenu-item {
  padding: 10px 0;
  cursor: pointer;
  font-size: 15px;
  color: #578E7E;
}

.submenu-arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
  font-size: 15px;
}

.submenu-arrow.rotated {
  transform: rotate(360deg);
}

.menu-item.active .menu-link {
  background-color: #133eb3;
  color: white;
  border-radius: 12px;
}

.menu-item:hover .menu-link {
  background-color: #133eb3;
  color: white;
  border-radius: 12px;
}

.sidebar-container.collapsed .submenu .submenu-item i {
  visibility: visible !important;
  opacity: 1 !important;
  padding-left: 0px !important;
}

.submenu-item.active {
  background-color: #578e7e;
  color: white;
  border-radius: 12px;
  padding-left: 20px;
  font-size: 15px;
}

/* साइडबार कोलैप्स होने पर सबमेन्यू छिपाएं */
.sidebar-container.collapsed .submenu {
  display: none;
}